@import "~bootstrap/scss/bootstrap";

.productosContainer{
    
    background-color: #888;
    padding: 25px;
    border-bottom: solid 3px #fff;

    .row{
        justify-content: space-between;
    }
   
    .prods{
        display: flex;
        flex-direction: column; 
        margin: 15px 0; 
    }
}