@import "~bootstrap/scss/bootstrap";


.navContainer{
    display: flex; 
    justify-content: space-between;
    padding: 10px 45px;
    border-bottom: solid 1px #444;
    align-items: center;
    background-color: #000;

    img.logo {height: 50px;}

    button{
        height: 30px;
        border: none;
        border-radius: 10px;
        background-color:#656565;
        color: honeydew;
        font-weight: 600;
        width: 100px;
       outline: none;
    }
}